[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RevGadgets"]
	path = RevGadgets
	url = https://github.com/revbayes/revgadgets
